<nav>
    <div>
        <a href="/questions"><h1>Clone Overflow</h1></a>
        <p>Geeky NMIT</p>
    </div>
    <ul>
        <li><a href="/questions">Questions</a></li>
        <li><a href="/questions/create">New Question</a></li>
        <li class="button">
            <form action="/logout" method="POST">
                <input type="submit" value="LOGOUT"  style="padding: 10px; border: none; outline: none; background-color: black; color: white;">
            </form> 
        </li>
    </ul>
</nav>