<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')%>
<body>
    
    <nav>
        <div>
            <a href="/questions"><h1>Clone Overflow</h1></a>
            <p>Geeky NMIT</p>
        </div>
        <ul>
            <li><a href="/questions">Questions</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/questions/create">New Question</a></li>
        </ul>
    </nav>

    <h1 style="margin: auto;">OOPS !! Page not found</h1>
    <p>GO to home page <a href="/questions" style="text-decoration: underline; color: blue">Home</a></p>

    <footer>
        Copyright &copy; CloneOverflow 2021
    </footer>
</body>
</html>