<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/signupStyle.css">
        <title>Clone Overflow | <%- title %></title>
    
    </head>
<body>
    
    <div class="container">
        <h1>Sign In</h1>
          <form action="/signup" method="POST">
              <label>Username</label><br>
              <input type="text" name="username"><br>
              <label>Password</label><br>
              <input type="password" name="password"><br>
              <button><a>Sign in</a></button>
          </form>
          <span style="margin-top: 5px; color: white; font-size: 20px;">New user? <a href="/register" style="font-size: 20px; color: white">register</a></span>
      </div> 

      

    
</body>
</html>